{{> menu id="dashboard"}}
  <section class="ui center aligned middle aligned segment">
    <h2 class="ui header welcome-header"> Dashboard</h2>
 <section class="ui segment">
  {{> listseries}}
{{> addseries}}
    </section>
  <section class="footer">
    Malgorzata Victor @ 2024
  </section>
</section>
