
{{> menu}}

<section class="ui center aligned middle aligned segment">
  {{#with singleDrama}}
  <h2 class="ui header welcome-header">
    {{type}}
  </h2>
  {{> listdramas}}
  {{> adddrama}}
  {{/with}}
   <section class = "footer">
  Malgorzata Victor @ 2024
  </section>
</section>
