{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header welcome-header">
    Your Favourites Series
  </h2>

  <section class="ui segment">
    
  {{> listFavouriteDramas}}
  
  </section>

  <section class="footer">
    Malgorzata Victor @ 2024
  </section>
</section>
