{{> welcomemenu }}
<div class="ui center aligned middle aligned segment">
  <h2 class="ui header welcome-header"> Please sign up or Log in</h2>
  <section class="ui segment">
    <div class="ui three column stackable grid">
<div class="column" style="padding-top: 50px; padding-bottom: 50px;">
  <a href="/login"> <!-- Anchor tag starts here -->
    <div class="ui centered card custom-card">
      <!-- Left Section: Login -->
      <div class="content">
        <div class="ui image">
          <img src="https://cdn.glitch.global/b0ba2a4d-6932-4f79-8cb2-4161611cd0bc/login.png?v=1713101662848" alt="Login">
        </div>
        <!-- No need for the <a> tag here -->
        <div id="login" class="item">Login</div>
      </div>
    </div>
  </a> <!-- Anchor tag ends here -->
</div>
      
      <div class="column">
        <div class="ui big centered image">
          <!-- Middle Section: Image -->
          <img src="https://cdn.glitch.global/b0ba2a4d-6932-4f79-8cb2-4161611cd0bc/start.gif?v=1713099849229" alt="Image" style="padding-top: 50px;">
        </div>
      </div>

  <div class="column" style="padding-top: 50px; padding-bottom: 50px;">
  <a href="/signup"> <!-- Anchor tag starts here -->
    <div class="ui centered card custom-card">
      <!-- Right Section: Sign up -->
      <div class="content">
        <div class="ui image">
          <img src="https://cdn.glitch.global/b0ba2a4d-6932-4f79-8cb2-4161611cd0bc/signup.png?v=1713101668444" alt="Sign Up">
        </div>
        <!-- No need for the <a> tag here -->
        <div id="signup" class="item">Signup</div>
      </div>
    </div>
  </a> <!-- Anchor tag ends here -->
</div>
    </div>
  </section>
  <section class="footer">
    Malgorzata Victor @ 2024
  </section>
</div>
